# .gitignore
# created by Daniel D'Souza

# Ignore everything in the kernel directory
linux-4.1.15/*
module/

# Except files that we modify.
!linux-4.1.15/cse430/

# Always ignore these file types.
*.[oa]
